* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}
body {
    background-color: #F2F4F5;
}
/*logo*/
.container-fluid > .logo {
    font-size: 0.5rem;
    height: 60px;
    width: 150px;
    position: absolute;
    
}
/*styling navigation bar*/
.navbar {
    background-color: #223745 !important;
}

.navbar-nav {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.2rem !important;
}
.navbar-nav > a {
    padding-left:30px;
    padding-right:30px;
    margin-left: 10px;
}
/*styling telegram bot icon */
.navbar-nav > .tgbot {
    font-size: 2rem;
    color: rgb(80, 170, 170);
    position: relative;
    
}
.navbar-nav > .tgbot:hover {
    font-size: 2rem;
    color: rgb(253, 236, 0);
}
 

.navbar-brand, .navbar-toggler, .navbar-toggler-icon {
    color: white !important;
}
.nav-link {
    color: white !important;
}



/* here goes carousel */ 
.carousel-control-next-icon, .carousel-control-next-icon,
.carousel-control-next-icon, .carousel-control-prev-icon  {
    color: white !important;
    width: 4rem !important;
    height: 3rem !important;
}
                
.w-100 {
    width: 100% !important;
    height: 65vh;
}
/*here goes h1*/
h1 {
    color: 223745;
    background: #E5E5E5;
    display: inline;
    line-height: 5.2rem;
    text-align: center;
    font-size: 1.7rem;
    padding: 0.6rem;
}
/*styling go to telegram table*/
.card.w-50 {
    margin: 0 auto;
    margin-top: 2rem;
}
.btn-default{
background-color: #223745;
color:#FFF;
border-color: #223745;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, 
.btn-default.active, .open .dropdown-toggle.btn-default {
    background-color:rgb(253, 236, 0);
    color:rgb(0, 0, 0);
    border-color: 223745;  
}
/*cards*/
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    
}
.card-group > .row {
    margin: 40px;
}
.card-block {
    margin: 10px;
}

.card {
    margin-top: 30px;
    
}

.col-md-6 img:hover {
    overflow: hidden; 
    object-fit: cover;
    opacity: 50%;
}